<h1>Edit User</h1>
<form action="/admin/users/<%= user._id %>" method="POST">
  <div>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>" required>
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= user.email %>" required>
  </div>
  <div>
    <label for="isAdmin">Admin:</label>
    <input type="checkbox" id="isAdmin" name="isAdmin" <%= user.isAdmin ? 'checked' : '' %>>
  </div>
  <button type="submit">Update User</button>
</form>